.root-pane {
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-text-fill: #333;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.custom-button {
    -fx-background-color: #232422;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-size: 13px;
    -fx-padding: 6 14;

}

/* Hover dei pulsanti */
.custom-button:hover {
    -fx-background-color: #353635;
}

/* Pressed */
.custom-button:pressed {
    -fx-background-color: #1b1c1b
}