.root-pane {
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-text-fill: "#232422";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: white;
    -fx-text-fill: "#232422";
    -fx-background-radius: 8;
    -fx-padding: 0 10 0 10;
    -fx-border-color: #333;
    -fx-border-radius: 8;
}

.input-field:focused {
    -fx-border-color: "#232422";
}

.login-button {
    -fx-background-color: "#232422";
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.login-button:hover {
    -fx-background-color: #353635;
}


/* Pressed */
.login-button:pressed {
    -fx-background-color: #1b1c1b
}


.error-message {
    -fx-text-fill: red;
    -fx-alignment: center;
}