.root-pane {
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-padding: 0 10 0 10;
    -fx-border-color: #333;
    -fx-border-radius: 8;
}

.input-field:focused {
    -fx-border-color: black;
}

.login-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.login-button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.forgot-link {
    -fx-text-fill: #bbbbbb;
}

.forgot-link:hover {
    -fx-text-fill: white;
}
