.root-pane {
    -fx-background-color: #f4f4f4;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-font-family: "JetBrains Mono";
}

.title {
    -fx-text-fill: #222;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-font-family: "JetBrains Mono";
    -fx-alignment: center;
}

.input-field {
    -fx-background-color: white;
    -fx-text-fill: #222;
    -fx-background-radius: 8;
    -fx-padding: 0 12 0 12;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}

.input-field:focused {
    -fx-border-color: black;
}

.custom-button {
    -fx-background-color: #232422;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-size: 13px;
    -fx-padding: 6 14;

}

/* Hover dei pulsanti */
.custom-button:hover {
    -fx-background-color: #353635;
}

/* Pressed */
.custom-button:pressed {
    -fx-background-color: #1b1c1b
}

.error-message {
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
