.root-pane {
    -fx-background-color: #f4f4f4;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-font-family: "JetBrains Mono";
}

.title {
    -fx-text-fill: #222;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-font-family: "JetBrains Mono";
    -fx-alignment: center;
}

.input-field {
    -fx-background-color: white;
    -fx-text-fill: #222;
    -fx-background-radius: 8;
    -fx-padding: 0 12 0 12;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}

.input-field:focused {
    -fx-border-color: black;
}

.create-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.create-button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.error-message {
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
