.root-pane {
    -fx-background-color: #FFFFFF;
}

/* Titolo "Benvenuto" */
.title {
    -fx-text-fill: #333;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* ComboBox */
.custom-combobox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-padding: 4 6;
    -fx-font-size: 13px;
}

/* Stato hover */
.custom-combobox:hover {
    -fx-border-color: #999999;
}

/* Stato focus */
.custom-combobox:focused {
    -fx-border-color: #666666;
}

/* Pulsanti (Subscribe / Unsubscribe) */
.custom-button {
    -fx-background-color: #232422;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-size: 13px;
    -fx-padding: 6 14;

}

/* Hover dei pulsanti */
.custom-button:hover {
    -fx-background-color: #353635;
}

/* Pressed */
.custom-button:pressed {
    -fx-background-color: #1b1c1b
}

.result-label {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}